{{ form_start(form, {'attr': {'class': 'search-form'}}) }}
<div class="form-group-search">
    <div class="input-group">
        {{ form_widget(form.poste, {'attr': {'class': 'form-control-search', 'placeholder': 'Rechercher emplois'}}) }}
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div>
<div class="form-group-search">
    <div class="input-group">
        {{ form_widget(form.ville, {'attr': {'class': 'form-control-search', 'placeholder': 'Saisir un lieu'}}) }}
        <i class="fa-solid fa-location-dot"></i>
    </div>
</div>
<div class="form-group-search">
    <button class="submit-search" type="submit">Rechercher</button>
</div>
{{ form_end(form) }}