{% extends 'dashboard.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section-wrapper">
            <h1>Modification du mot de passe</h1>

            {{ form(form) }}
        </div>
        <a href="{{ path('app_delete_user', {'id': app.user.id}) }}" style="color: rgb(244, 46, 46)">Supprimer mon compte</a>
    </div>
{% endblock %}
