{% extends 'dashboard.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section-wrapper">
            <h1>Modification du mot de passe</h1>

            {{ form(form) }}
        </div>
        <p class="openModal" style="color: rgb(244, 46, 46)">Supprimer mon compte</p>

        {# Modal : êtes-vous sûr de vouloir supprimer votre compte ? #}
        <div class="confirm-delete" style="display: none;">
            <div class="confirm-delete-content">
                <h2>Êtes-vous sûr de vouloir supprimer votre compte ?</h2>
                <p>Vous ne pourrez pas revenir en arrière.</p>
                <div class="confirm-delete-buttons">
                    {# Demander le mot de passe pour confirmer la suppression du compte #}
                    <form action="{{ path('app_delete_user') }}" method="post">
                        <input type="password" name="password" placeholder="Mot de passe" required>
                        <input type="hidden" name="userId" value="{{ app.user.id }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                    <button class="btn btn-primary" onclick="cancelDelete()">Annuler</button>                    
                </div>
            </div>
        </div>
    </div>

    <script>

        // Modal : êtes-vous sûr de vouloir supprimer votre compte ?
        const confirmDelete = document.querySelector('.confirm-delete');
        const openModal = document.querySelector('.openModal');
        const closeModal = document.querySelector('.confirm-delete .confirm-delete-content .confirm-delete-buttons .btn-primary');

        openModal.addEventListener('click', () => {
            confirmDelete.style.display = 'block';
        });

        closeModal.addEventListener('click', () => {
            confirmDelete.style.display = 'none';
        });
        

    </script>
{% endblock %}
