* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', 'Poppins';
    text-decoration: none;
    color: #585858;
}

body {
    background: #FBFBFB;
    padding-top: 65px;
    min-height: 100vh;
}

/* Menu navigation */

.notif-number-dash {
    background-color: #d80101;
    color: #fff!important;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

nav.dash-submenu-dash {
    margin-left: 10px;
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}

nav.dash-submenu-dash ul li a i {
    font-size: 15px;
    min-width: 23px;
}

.dash-submenu-dash ul li a {
    color: #626262;
    padding: 10px 15px;
    border-radius: 25px;
    display: block;
    max-width: 200px;
    transition: all 0.2s ease-in-out;
    margin-block: 5px;
}

.soon {
    color: #e6e6e6!important;
    background-color: #026c96;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    padding: 2px 5px;
}

.dash-submenu-dash ul li a.active {
    color: #007456;
    background-color: rgba(0,116,86,0.05);
}

.dash-submenu-dash ul li a.active i {
    color: #007456;
}

.dash-submenu-dash ul li a:hover {
    color: #007456;
    background-color: rgba(0,116,86,0.05);
}

.dash-submenu-dash ul li a:hover i {
    color: #007456;
}

.dash-submenu-dash span {
    color: #007456;
    font-weight: bold;
    margin-block: 10px;
}

main aside.nav-aside,
.nav-wrapper header {
    display: none;
}

/* Paramètre profile */

.wrapper > h2 {
    margin-block: 10px;
    font-size: 28px;
}

/* Section profile */

div.profil h3 {
    margin-bottom: 15px;
}

div.formation > h3,
div.experience > h3 {
    margin-bottom: 15px;
    color: black;
    font-size: 34px;
    font-weight: 500;
}

.dropdown-fx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.dropdown-fx span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-fx span button {
    border: none;
    outline: none;
    background-color: transparent;
}

.dropdown-fx span button i {
    font-size: 18px;
    cursor: pointer;
}

.dropdown-fx span h6 {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.add_formation_link,
.add_experience_link {
    color: #007456;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.add_formation_link:hover,
.add_experience_link:hover {
    color: #009760;
}

.add_formation_link i,
.add_experience_link i {
    font-size: 14px!important;
    margin-right: 5px;
    color: #007456;
}

/* Photo de profil */

.form-pdp-cv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pdp-attach {
    padding-inline: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-bottom: 20px;
}

.pdp-attach h4 {
    margin-block: 15px 5px;
}

.cv-attach h4 {
    margin-bottom: 15px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 55px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 142px;
    height: 142px;
    position: relative;
    border-radius: 30px;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.supp {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.avatar-upload .supp div input[type="checkbox"],
#candidat_deleteCV {
    width: 20px; /* Ajustez la largeur selon vos besoins */
    height: 20px; /* Ajustez la hauteur selon vos besoins */
}

.avatar-upload .supp div input[type="checkbox"]:checked,
#candidat_deleteCV:checked {
    accent-color: #007456;
}

/* CV Upload */

.cv-attach {
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.custom-file-upload {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #c4c4c4;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 1px 4px #a4a4a4a7;
}

#file-name {
    background-color: #007455c7;
    padding: 5px 10PX;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease;
}

#file-name:hover {
    background-color: #007455;

}

.custom-file-upload label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-file-upload svg {
    vertical-align: middle;
    margin-right: 6px;
}

#selectCv {
    display: none;
}

div.wrapper {
    padding: 10px;
}

div.section-wrapper {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    padding: 20px;
    max-width: 900px;
}

.tab {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 15px;
}

.tab li {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #999;
    transition: all 800ms ease;
}

.tab li:hover {
    color: #007456;
}

.tab li.active {
    color: #007456;
}

.tab li.active:after {
    transform: scaleX(1);
}

.tab li:after {
    display: block;
    content: '';
    border-bottom: solid 2px #007456;
    transform: scaleX(0);
    transition: .5s ease, .5s ease;
    transform-origin: 0% 50%;
    margin-top: 5px;
}

.tab li:hover:after {
    transform: scaleX(1);
}


/* ========== Formulaire ============ */

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.form-control:hover {
    box-shadow: 0 0 0 0.1rem rgba(0,116,86,.25);
}

.form-control:focus {
    border-color: #0074555d;
    box-shadow: 0 0 0 0.1rem rgba(0,116,86,.25);
}

.form-group {
    margin-block: 15px;
}

.form-group div {
    width: 100%;
    margin-block: 10px;
    display: flex;
    flex-direction: column;
}

.form-group.sure div {
    margin-block: 0;
}

/* Champ Rôle */

div.custom-choice {
    display: flex;
    margin-top: 5px;
}

.custom-choice label {
    background-color: #e0e0e0;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
}

.custom-choice input[type="radio"] {
    display: none;
}

.custom-choice input[type="radio"] + label {
    background-color: #EDEDED;
    color: #858585;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
}

.custom-choice input[type="radio"]:checked + label {
    background: linear-gradient(to right, #007456, #00a3a3); /* Couleur pour l'option sélectionnée */
    color: #fff;
    font-weight: 600;
}

.custom-choice input[type="radio"]:checked + label:nth-of-type(2) {
    background: linear-gradient(to right, #9b0202, #a30000);
    color: white;
}

div.choice a {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(to right, #007456, #00a3a3);
    background-size: 200% 100%; /* Plus large que nécessaire */
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
}

div.choice a:hover {
    background-position: right center; /* Changement de la position du gradient lors du survol */
}


.form-check-input {
    accent-color: #007456;
}

.sub-cancel {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-direction: row-reverse;
    max-width: 900px;
}

.sub-cancel a, .sub-cancel button {
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sub-cancel a {
    border: 1px solid #c7c7c7;
}

.sub-cancel button {
    background-color: #005e4b;
    color: #fff;
}

.sub-cancel a:hover,
.sub-cancel button:hover {
    background-color: #004e3f;
    color: #fff;
}
/* Tableau */

div.table-wrapper {
    background-color: #fff;
    border: 1px solid rgb(233, 230, 230);
    margin-block: 15px;
    overflow-x: auto;
}

div.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

div.table-wrapper table tr th{
    text-align: start;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

div.table-wrapper table tr td {
    padding: 15px;
}

div.table-wrapper table tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}

div.table-wrapper table tr td:first-child {
    min-width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}

div.table-wrapper table tr td:nth-child(2) p {
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    width: fit-content;
    padding: 5px 13px;
}

.checking {
    color: #ffc402;
    background-color: #fff9e7;
}

.approved {
    color: #007455;
    background-color: #e7fff2;
}

.rejected {
    color: #f15353;
    background-color: #fff2f2;
}

div.table-wrapper table tr td:first-child > div:first-child {
    min-width: 70px;
    display: flex;
    justify-content: center;
}

div.table-wrapper table tr td:first-child > div:nth-child(2) {
    display:flex;
    flex-direction: column;
    gap: 5px;
}

div.table-wrapper table tr td:first-child > div:nth-child(2) a span {
    /* Badge */
    background-color: #005374;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
}

div.table-wrapper table tr td:first-child > div:first-child img {
    aspect-ratio: 3/2;
    max-width: 70px;
    object-fit: contain;
}

div.table-wrapper table tr td:nth-child(2) {
    min-width: 200px;
}

td.td-action {
    position: relative;
}

div.action {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    top: 30px;
    right: 35px;
    display: none;
}

div.action.active {
    display: block;
    z-index: 5;
}

div.action a {
    font-size: 14px;
    padding: 5px;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    text-align: start;
}

.fa-ellipsis {
    cursor: pointer;
}

div.action a:hover {
    background-color:#DFEDE7;
}

/* Modal motif de refus */

.fa-circle-info {
    cursor: pointer;
}

div.motif div {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 5;
    display: none;
}

div.motif div.active {
    display: block;
}

div.motif div p:first-of-type {
    margin-block: 20px;
    color: rgb(241, 51, 51);
}

div.motif div a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007456;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
}

div.motif div a:hover {
    background-color: #02644a;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #171d22;
    z-index: 1; 
    transition: all 300ms ease-in-out;
    visibility: hidden;
}

.active-overlay {
    opacity: 0.50;
    visibility: visible;
}

/* Style pour la prévisualisation */
.overview {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 100px; /* Ajustez selon vos besoins */
}

.overview * {
    color: unset;
}

.btn-password {
    background-color: #007455;
    color: #fff;
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-password:hover {
    background-color: #004e3f;
}

.openModal {
    border: 1px solid red;
    color: red;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #fff;
}

.modal {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 30;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.modal form textarea {
    width: 100%;
    transition: border-color .1s,box-shadow .1s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px rgba(0,0,0,0);
    color: inherit;
    font-size: 1.125em;
    height: 6.75em;
    padding: 0.75em
}

.modal form textarea:focus {
    border: 1px solid #b4dbed;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 2px rgba(100, 200, 135, 0.5);
}

.modal form textarea::placeholder {
    color: #b4b4b4;
}

.modal form .modal-action button {
    border-radius: 5px;
}

.modal form .modal-action button:last-of-type {
    background-color: #6e7881;
}

.modal form .modal-action button:last-of-type:hover {
    background-color: #5e6b73;
}

.modal.active {
    display: flex;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #171d22;
    z-index: 20; 
    transition: all 400ms ease-in-out;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 0.80;
    visibility: visible;
}

.modal form input {
    border: none;
    outline: none;
    width: 100%;
}

.modal p:first-of-type {
    font-size: 1.2em;
    font-weight: 600;
}

.modal p:last-of-type {
    color: red;
    margin-block: 10px;
}

.modal form .modal-action button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.modal form .modal-action button:first-of-type {
    background-color: rgb(178, 17, 17);
}

.modal form .modal-action button:first-of-type:hover {
    background-color: #c70000;
}

.modal form .modal-action button:last-of-type {
    background-color: #6e7881;
}

.modal form .modal-action button:last-of-type:hover {
    background-color: #5e6b73;
}

/* Vue admin */

.entreprise-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entreprise-info p span i {
    width: 30px;
}

.history p {
    margin-top: 10px;
}
.history {
    padding: 20px;
    margin-block: 20px;
    border-left: 4px solid #9e9e9e;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
}

.kbis-link {
    font-weight: bold;
    padding: 7px 15px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.refusal p {
    font-weight: bold;
    
}

.refusal {
    padding: 20px;
    margin-block: 20px;
    border-left: 4px solid #ff0000;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
}

.refusal form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-block: 10px;
    outline: none;
}

.refusal-submit {
    padding: 7px 15px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: #df0202;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.refusal-submit i {
    margin-right: 5px;
    color: #fff;
    font-size: 18px;
}

.refusal-submit:hover {
    background-color: #cc0101;
    border: 1px solid #ff0000c7;
}

.accept {
    padding: 20px;
    margin-block: 20px;
    border-left: 4px solid #01ce01;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
}

.accept a {
    font-weight: bold;
    padding: 7px 15px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: #008b66;
    color: #fff;
}

.accept a i,
.kbis-link i{
    color: #fff;
    font-size: 18px;
    margin-right: 5Px;
}

.kbis-link i {
    color: unset;
}

.accept a:hover {
    background-color: #017959;
    border: 1px solid #01a70194;
}

@media screen and (min-width: 530px) {
    .modal {
        width: 32rem;
    }
}

@media screen and (min-width: 800px) {
    body {
        padding-top: 0;
    }

    body main {
        display: flex;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .user img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    .post-offre {
        background-color:#007455;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        transition: all 0.2s ease;
    }

    .top-nav li a:hover{
        color: #007455;
    }

    .top-nav li a:hover i {
        color: #007455;
    }

    .post-offre:hover {
        background-color: #02644a;
    }

    .nav-wrapper header {
        display: block;
    }

    div.wrapper {
        padding: 20px;
    }

    .wrapper > h2 {
        margin-block: 0;
    }
    
    /* Menu navigation */
    
    header nav, header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
    
    header {
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #E8E8E8;
    }

    main aside.nav-aside {
        background-color: #fff;
        width: 230px;
        height: 100vh;
        padding: 20px;
        border-right: 1px solid #E8E8E8;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        z-index: 2;
    }
    
    aside.nav-aside div.logo img{
        height: 40px;
    }
    
    .nav-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 230px;
    }
    
    aside.nav-aside nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    main aside.nav-aside nav.dash-submenu-dash ul {
        gap: 5px;
    }

    main aside.nav-aside nav.dash-submenu-dash ul li a {
        margin-block: 0;
        padding: 8px 18px
    }

    main aside.nav-aside nav.dash-submenu-dash {
        margin-left: 0;
    }
    
    td.td-action {
        background-color: transparent;
    }
}

@media screen and (min-width: 900px) {
    .form-pdp-cv {
        flex-direction: row;
    }

    .avatar-upload .avatar-edit {
        right: 25px;
    }

    .form-pdp-cv > div:first-of-type {
        min-width: 210px;
    }

    .form-pdp-cv > div:last-of-type {
        width: 100%;
    }

    .form-pdp-cv > div {
        background-color: #fff;
    }

    .form-group {
        display: flex;
        gap: 10px;
    }
}