footer {
    background-color: #015e45;
    color: #fff;
    margin-top: auto;
}

.footer-container {
    width: 95%;
    margin: 0 auto;
}

.about-us {
    border-bottom: 1px solid #e8e8e846;
    padding: 20px 0;
}

.about-us p {
    line-height: 1.5;
}

.about-us p:first-of-type {
    margin-bottom: 20px;
}

.about-us p:nth-last-child(-n+2) {
    font-weight: 500;
    margin-block: 10px;
}

.footer-dropdown-head {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    cursor: pointer;
    transition: all 200ms ease;
}

.footer-dropdown-head:hover {
    color: #015e45;
}

.footer-dropdown-head i {
    font-size: 16px;
    transition: transform 200ms;
}

.footer-dropdown-head i.active {
    transform: rotate(180deg);
}

.footer-dropdown-head h4 {
    font-size: 16px;
    font-weight: 600;
    color: #FFD75E;
}

.footer-dropdown-body {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms;
    border-bottom: 1px solid #E8E8E8;
    padding-inline: 5px;
}

.footer-dropdown-body ul {
    min-height: 0;
}

.footer-dropdown-body ul li {
    padding: 5px 0;
}

.footer-dropdown-body ul li a {
    color: #fff;
    font-weight: 500;
    transition: all 0.1s ease;
    padding-left: 5px;
}

.footer-dropdown-body ul li a:hover {
    color: rgb(220, 220, 220);
}

.footer-dropdown-body.active {
    grid-template-rows: 1fr;
    padding-bottom: 20px;
}

.footer-dropdown-body:last-of-type {
    border-bottom: none;
}

.copyright {
    padding: 20px;
    border-top: 1px solid #e8e8e846;
    opacity: 0.9;
    text-align: center;
}

.copyright a {
    color: #FFD75E;
    font-weight: 600;
    transition: all 0.3s ease;
}

.copyright a:hover {
    color: #f4bc16;
}

@media screen and (min-width: 1000px) {
    .footer-dropdown {
        display: flex;
        padding-block: 30px;
    }

    .footer-dropdown > div {
        width: 33%;
    }

    .footer-dropdown-body {
        display: block;
        grid-template-rows: 1fr;
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-dropdown-head i {
        display: none;
    }

    .footer-dropdown-head {
        pointer-events: none;
    }

    .about-us {
        padding-block: 40px;
    }
}

@media screen and (min-width: 1440px) {
    footer > div:first-of-type {
        max-width: 1440px;
    }
}