/* Formulaires */

.container {
    max-width: 700px;
    padding: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px auto;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    margin-top: 5px;
}

.form-group,
.form-group div  {
    margin-bottom: 10px;
}

.form-group div {
    width: 100%;
}

.form-control::placeholder {
    color: #aaa;
    font-size: 14px;
}

div.wrapper form h2 {
    text-align: center;
    margin: 10px 0 30px 0;
    font-weight: 600;
}

.btn-primary {
    background-color: #007456;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
}

div.wrapper .haveacc {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

div.wrapper .haveacc a {
    color: #007456;
    font-weight: 600;
}

div.wrapper form p:last-child a {
    color: #007456;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #018c67;
}

.alert-danger {
    background-color: rgb(222, 222, 222);
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-block: 20px;
    border-radius: 3px;
    border-left: 10px solid #ff0000;
}

.alert-success {
    background-color: rgb(222, 222, 222);
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-block: 20px;
    border-radius: 3px;
    border-left: 10px solid #00ff00;
}

.form-group label::after {
    content: ' *';
    color: red;
}

.form-check-label {
    font-size: 14px;
    color: #646464;
}

.form-check-label a {
    color: #007456;
    font-weight: 600;
}

.form-check {
    display: flex;
    gap: 5px;
}

/* Champ Rôle */

div.custom-choice {
    display: flex;
    gap: 20px;
}

.custom-choice label {
    width: 100%;
    background-color: #e0e0e0;
    padding-block: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
}

.custom-choice input[type="radio"] {
    display: none;
}

.custom-choice input[type="radio"] + label {
    background-color: #EDEDED;
    color: #858585;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.custom-choice input[type="radio"] + label:hover {
    background-color: #e7eeeb;
    color: #007456;
    font-weight: 600;
    border: 1px solid #01926c71;
}

.custom-choice input[type="radio"]:checked + label {
    background-color: #DFEDE7; /* Couleur pour l'option sélectionnée */
    color: #007456;
    font-weight: 600;
    border: 1px solid #01926c71;
}

.form-check-input {
    accent-color: #007456;
}

a.forgot-password {
    color: #007456;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}

/* Formulaire de recherche */

div.bg {
    padding: 40px 20px;
    min-height: 507px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/Revised.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.bg h1 {
    color: #fff;
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 500;
}

div.bg > a:last-of-type {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-block: 20px;
    letter-spacing: 0.03cm;
    width: fit-content;
    margin: 20px auto;
    display: block;
    border: 1px solid grey;
    padding: 15px 20px;
    transition: all 0.2s ease-in-out;
}

div.bg > a:last-of-type:hover {
    background-color: #007456;
    border: 1px solid #007456;
}

div.bg h1 span {
    color: #FFD75E;
}

div.bg form.search-form {
    width: 100%;
    margin: 0 auto;
}

div.bg div.input-group {
    position: relative;
    border-radius: 20px;
}

div.bg div.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
    padding-left: 10px;
}

div.bg div.form-group-search {
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    width: 100%;
}

div.bg div.form-group-search:last-of-type {
    padding: 20px;
    text-align: center;
    border-radius:0 0 16px 16px;
}

div.bg #search_emploi_poste {
    border-radius: 16px 16px 0 0;
}

div.bg input.form-control-search {
    width: 100%;
    padding: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    padding-left: 50px;
}

div.bg input.form-control-search::placeholder {
    color: rgb(77, 77, 77);
    opacity: 0.5;
    font-size: 14px;
}

div.bg button.submit-search {
    padding: 15px 30px;
    outline: none;
    background-color: #007456;
    color: #fff;
    cursor: pointer;
    width: fit-content;
    border:none;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

div.bg button.submit-search:hover {
    background-color: #018c67;
}

/* formulaire de recherche modal */
form.search-form-modal {
    width: 100%;
    margin: 0 auto;
}

form.search-form-modal div.input-group {
    position: relative;
    border-radius: 20px;
}

form.search-form-modal div.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
    padding-left: 10px;
}

form.search-form-modal div.form-group-search {
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    width: 100%;
}

form.search-form-modal div.form-group-search:last-of-type {
    padding: 20px;
    text-align: center;
    border-radius:0 0 16px 16px;
}

form.search-form-modal #search_emploi_poste {
    border-radius: 16px 16px 0 0;
}

form.search-form-modal input.form-control-search {
    width: 100%;
    padding: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    padding-left: 50px;
}

form.search-form-modal input.form-control-search::placeholder {
    color: rgb(77, 77, 77);
    opacity: 0.5;
    font-size: 14px;
}

form.search-form-modal button.submit-search {
    padding: 15px 30px;
    outline: none;
    background-color: #007456;
    color: #fff;
    cursor: pointer;
    width: fit-content;
    border:none;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

form.search-form-modal button.submit-search:hover {
    background-color: #018c67;
}

@media screen and (min-width: 600px) {
    /* formulaire de recherche */
    div.bg .search-form {
        display: flex;
        border-radius: 40px;
    }

    div.bg #search_emploi_poste {
        border-radius: 40px 0 0 40px;
    }

    div.bg div.form-group-search:last-of-type {
        border-radius: 0 40px 40px 0;
        padding: 10px;
        background-color: #fff;
    }
    
    div.bg div.form-group-search {
        background-color: transparent;
    }

    div.bg input.form-control-search {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    div.bg div.form-group-search:last-of-type {
        text-align: right;
        width: fit-content;
    }
}

@media screen and (min-width: 768px) {
    /* formulaire de recherche */
    div.bg {
        background-image: url(../img/Revised.png);
        background-size:cover;
        background-position: center;
    }

    /* Formulaire d'inscription */
    .container {
        margin: 30px auto;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 800px) {
    form.search-form-modal {
        display: flex;
        align-items: center;
        border: 1px solid #cccccca6;
        border-radius: 5px;
        width: 100%;
        margin-inline: 15px;
    }

    form.search-form-modal div.form-group-search:last-of-type {
        border-radius: 0 40px 40px 0;
        padding: 5px;
        background-color: #fff;
    }

    form.search-form-modal button.submit-search {
        border-radius: 5px;
        padding: 10px;
    }

    form.search-form-modal div.form-group-search:last-child {
        width: fit-content;
    }

    form.search-form-modal div.form-group-search:last-of-type {
        text-align: right;
        width: fit-content;
    }

    form.search-form-modal input.form-control-search {
        border-bottom: none;
        border-right: 1px solid #ccc;
        border-radius: initial;
        padding: initial;
        padding-left: 35px;
        height: 30px;
    }

    form.search-form-modal #search_emploi_poste {
        border-radius: initial;
    }

    form.search-form-modal div.input-group i {
        left:0px;
    }

    form.search-form-modal #search_emploi_poste {
        width: 100%;
    }
}

@media screen and (min-width: 1092px) {
    /* formulaire de recherche */
    div.bg form.search-form {
        max-width: 1033px;
    }
}