* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', 'Poppins';
    text-decoration: none;
}

*::before {
    box-sizing: border-box;
}

body {
    padding-top: 65px;
    min-height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

/* Homepage utilisateur non authentifié */

.content-wrapper{
    width: 97%;
    margin: 0 auto;
}

div.vous-etes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-block: 10px;
    gap: 10px;
}

div.vous-etes div {
    background-color: #FAF6EB;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #e6e6e6;
}

div.vous-etes div h2 {
    margin-block: 20px;
}

div.vous-etes div a {
    display: block;
    width: fit-content;
    background-color: #007456;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin-block: 20px;
    border: none;
    transition: all 200ms ease;
}

div.vous-etes div a:hover {
    background-color: #02906a;
}

div.vous-etes div img {
    float: right;
    height: 160px;
}

/* Newsletter */

div.newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin-top: auto;
}

div.newsletter > div {
    width: 100%;
}

div.newsletter img {
    height: 80px;
    margin-bottom: 20px;
}

div.newsletter h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

div.newsletter p {
    margin-bottom: 20px;
    opacity: 0.8;
}

div.newsletter form {
    display: flex;
    flex-direction: column;
}

div.newsletter form input {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 10px;
    transition: all 200ms ease;
}

div.newsletter form input:hover {
    border-color: #007456;
}

div.newsletter form input:focus {
    box-shadow: 0 0px 5px #007456;
}

/* Quand on focus l'input, on met un box-shadow au bouton */
div.newsletter form input:focus + button {
    box-shadow: 0 0px 5px #007456;
}

div.newsletter form button {
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #007456;
    color: #fff;
    cursor: pointer;
    display: block;
    transition: all 200ms ease;
}

div.newsletter form button:hover {
    background-color: #02906a;
}

/* Section catégorie */

div.categories {
    width: 95%;
    margin: 0 auto;
    margin-block: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

div.categories .cat-head {
    text-align: center;
}

div.categories .cat-head h3 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 28px;
}

div.categories .cat-head p {
    opacity: 0.8;
}

div.categories .cat-body {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

div.categories .cat-body .item {
    background-color: rgba(0,116,86,0.05);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(163, 163, 163, 0.139);
    width: 100%;
    color: black;
    transition: all 200ms ease;
}

div.categories .cat-body .item:hover {
    box-shadow: 0 2px 10px rgba(126, 126, 126, 0.2);
}

div.categories .cat-body .item p:first-of-type {
    font-weight: 600;
    margin-bottom: 10px;
}

div.categories .cat-footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

div.categories .cat-footer a {
    margin-block: 20px;
    color: #007456;
    font-weight: 500;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

div.categories .cat-footer a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #007456;
    transform: scaleX(0);
    transition: .5s ease, .5s ease;
    transform-origin: 0% 50%;
}

div.categories .cat-footer a:hover:after {
    transform: scaleX(1);
}

/* Vue résultat de recherche d'emploi */

/* Section bg résultat */

div.bg.result {
    display: none;
    height: fit-content;
    padding: 0;
    box-shadow: rgba(78, 79, 92, 0.1) 0px 4px 9px;
}

div.bg.result form div.form-group-search:last-of-type,
div.bg.result form #search_emploi_poste {
    border-radius: 0;
}

/* Section résultat de recherche */

div.result-info {
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(126, 126, 126, 0.2);
    background-color: #fff;
}

div.search-result h2 {
    font-size: 21px;
}

div.search-result h2 span {
    color: #007456;
}

div.filter {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

div.filter p {
    font-size: 14px;
}

div.filter button i {
    font-size: 18px;
}

div.filter button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    background-color: #007456;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms ease;
}

div.filter button:hover {
    background-color: rgb(2, 134, 99);
}

div.result-container {
    padding: 0 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.result {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(33, 33, 33, 0.1) 0px 4px 9px;
    transition: all 200ms ease;
    cursor: pointer;
}

div.result.candidat > div:first-of-type {
    display: flex;
    gap: 20px;
}

div.result:hover {
    border: 2px solid rgb(194, 219, 197);
    box-shadow: rgba(33, 33, 33, 0.25) 0px 6px 10px;
}

div.result h3, div.result-body h1 {
    color: #004f3a;
    font-size: 24px;
    font-weight: 600;
}

div.result-body h1 {
    font-size: 26px;
}

div.result-body a {
    color: #007456;
    font-weight: 600;
    transition: all 200ms ease;
    display: inline-block;
    width: fit-content;
}

div.result-body a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #007456;
    transform: scaleX(0);
    transition: .5s ease, .5s ease;
    transform-origin: 0% 50%;
}

div.result-body a:hover:after {
    transform: scaleX(1);
}

div.result img {
    height: 54px;
    width: 54px;
    object-fit: contain;
    border-radius: 100px;
    border: 1px solid #cccccc7e;
}

div.result-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.detail-head div.logo-new {
    display: none;
}

div.detail-head div.logo-new.pdp {
    display: flex;
}

div.result-head .logo-new p {
    border-radius: 100px;
    height: 54px;
    width: 54px;
    background-color: #8bc6b789;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.result-head .logo-new span {
    color: rgb(0, 120, 140);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.05em;
}

div.result-head i {
    font-size: 21px;
    color: #007456;
}

div.result-body span:before {
    content: "";
    width: 3px;
    height: 3px;
    background: currentcolor;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 8px;
    transform: translateY(-0.2em);
}

div.result-head i.fa-solid.fa-heart {
    color: #007456;
}

div.result-body p a {
    color: #007456;
    font-weight: 600;
    transition: all 200ms ease;
}

div.result-body {
    line-height: 1.5;
}

div.result-body p {
    font-size: 14px;
}

div.result-body p a:hover {
    color: #038e69;
}

div.result-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
}

div.result.candidat div.result-footer {
    margin-top: 0;
}

div.result-footer span:first-of-type {
    background-color: #F5ECFF;
    color: #6C4CBE;
}

div.result-footer span {
    font-size: 12px;
    color: #007456;
    font-weight: 500;
    background-color: rgba(0,116,86,0.05);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(163, 163, 163, 0.139);
}

/* Panneau de filtre */
aside.filter {
    display: none;
}

/* Détail d'un emploi mobile */

div.left-side {
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

div.detail-head div.head{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

div.detail-head {
    border-bottom: 1px solid #eee;
}

div.detail-head .logo-new img {
    height: 54px;
    width: 54px;
    object-fit: contain;
    border-radius: 100px;
    border: 1px solid #cccccc7e;
}

main.show div.entreprise-banniere img {
    height: 150px;
    width: 100%;
    object-fit:cover;
}

div.info-poste {
    padding: 30px 15px;
    border-bottom: 1px solid #eee;
}

div.info-poste h4 {
    font-size: 24px;
    font-weight: 500;
}

div.info-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

div.info-items i.fa-chevron-down,
div.show-hide.show > span > i {
    font-size: 16px;
}

div.info-items span {
    color: #007456;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}

div.info-items div.item.resp {
    display: none;
}

div.show-hide {
    flex-direction: column;
    gap: 30px;
    display: none;
}

div.show-hide.show {
    display: flex;
}

div.item {
    display: flex;
    gap: 15px;
}

div.item div.text p:first-of-type {
    font-weight: 500;
    margin-bottom: 10px;
}

div.item div.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0,116,86,0.05);
    color: #007456;
}

div.item div.icon i {
    font-size: 20px;
}

div.description-offre {
    padding: 30px 15px;
}

div.description-offre p {
    line-height: 1.5;
    opacity: 0.8;
}

div.description-offre h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

div.mobile-footerstyle {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(33, 33, 33, 0.25) 0px -1px 4px;
    margin: 0px auto;
    width: 100%;
    position: sticky;
    bottom: 0px;
    z-index: 2;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

div.mobile-footerstyle.desk {
    display: none;
}

div.mobile-footerstyle a:first-of-type {
    background-color: #007456;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #fff;
    border-radius: 30px;
    border: none;
    transition: all 200ms ease;
}

div.mobile-footerstyle a:first-of-type:hover {
    background-color: #02906a;
}

div.mobile-footerstyle a:last-of-type i {
    font-size: 30px;
    color: #007456;
}

div.mobile-footerstyle a:last-of-type i:hover {
    color: #02906a;
}

div.mobile-footerstyle h4 {
    display: none;
}

aside.info-entreprise {
    padding: 15px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    margin: 10px;
}

div.entreprise-info-head .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.entreprise-info-head .logo h3 {
    font-size: 18px;
    font-weight: 500;
}

div.entreprise-info-head .logo img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 100px;
    border: 1px solid #cccccc7e;
}

div.entreprise-info-head ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 15px;
}

div.entreprise-info-head ul li {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #999;
    transition: all 800ms ease;
}

div.entreprise-info-head ul li:hover {
    color: black;
}

div.entreprise-info-head ul li.active {
    color: black;
}

div.entreprise-info-head ul li.active:after {
    transform: scaleX(1);
}

div.entreprise-info-head ul li:after {
    display: block;
    content: '';
    border-bottom: solid 2px black;
    transform: scaleX(0);
    transition: .5s ease, .5s ease;
    transform-origin: 0% 50%;
    margin-top: 5px;
}

div.entreprise-info-head ul li:hover:after {
    transform: scaleX(1);
}

div.entreprise-info-head ul li:last-of-type span {
    background-color: rgba(0,116,86,0.05);
    padding: 5px 10px;
    border-radius: 8px;
    color: #007456;
}

div.tab-info-entreprise {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

div.tab-info-entreprise > div:nth-child(2) > p:nth-child(2) {
    text-transform: capitalize;
}

div.tab-info-entreprise div.info-item p:first-of-type {
    font-weight: 600;
    margin-bottom: 10px;
}

div.tab-info-entreprise div.info-item a {
    color: #007456;
    font-weight: 600;
}

div.tab-emploi-entreprise {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    display: none;
}

div.tab-emploi-entreprise a:first-of-type{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

div.emploi-item:not(:last-child) {
    border-bottom: 1px solid #eee;
    min-height: 60px;
}

div.emploi-item div.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.tab-emploi-entreprise a:last-of-type {
    width: fit-content;
    color:#007456;
    font-weight: 500;
}

div.tab-emploi-entreprise a:last-of-type:after {
    display: block;
    content: '';
    border-bottom: solid 1px #007456;
    transform: scaleX(0);
    transition: .3s ease, .3s ease;
    transform-origin: 0% 50%;
}

div.emploi-item a:last-of-type:hover:after {
    transform: scaleX(1);
}

/* Vue détail d'un candidat */

main.show-candidat .result-body p {
    color: #007456;
    font-weight: 600;
}

main.show-candidat .action-candidat {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

main.show-candidat .detail-head > div:first-of-type {
    border-bottom: 1px solid #eee;
    padding: 20px;
}

main.show-candidat div.detail-head div.head {
    padding: 0;
    margin-bottom: 20px;
}

main.show-candidat .action-candidat a {
    background-color: #007456;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    border: none;
    transition: all 200ms ease;
    font-weight: 500;
}

main.show-candidat .action-candidat a:first-of-type {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #111111;
}

main.show-candidat .action-candidat a:last-of-type:hover {
    background-color: #02906a;
}

main.show-candidat .action-candidat a:first-of-type:hover {
    background-color: #007456;
    color: #fff;
}

main.show-candidat .experience {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
}

main.show-candidat .experience h4 {
    font-size: 24px;
    font-weight: 500;
    margin-block: 20px 30px;
}

main.show-candidat .candidat-experience {
    margin-block: 21px;
}

main.show-candidat .experience-titre {
    position: relative;
    margin-left: 34px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

main.show-candidat .experience-titre::before {
    left: -34px;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 2px solid #007456;
    border-radius: 50%;
}

main.show-candidat .experience-titre.formation-titre::before {
    border: 2px solid #ffd75e;
}

main.show-candidat .experience-detail {
    position: relative;
    margin-top: 4px;
    margin-left: 34px;
}

main.show-candidat .experience-detail::before {
    left: -30px;
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 1px dashed #007456;
}

main.show-candidat .formation-detail.experience-detail::before {
    border: 1px dashed #ffd75e;
}

main.show-candidat .experience-detail > div span:last-of-type::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 4px;
}

main.show-candidat .experience-detail > div span:first-of-type {
    font-weight: 500;
    color: #007456;
}

main.show-candidat .experience-detail > div {
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

main.show-candidat div.left-side {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

main.show-candidat div.left-side > div:not(:last-of-type) {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}

main.show-candidat aside.info-candidat {
    border-radius: 10px;
    margin-block: 15px;
}

main.show-candidat .send-msg-btn {
    text-align: center;
    margin-block: 20px;
}

main.show-candidat .send-msg-btn a {
    background-color: #007456;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    border: none;
    transition: all 200ms ease;
    font-weight: 500;
}

main.show-candidat .send-msg-btn a:hover {
    background-color: #02906a;
}

@media screen and (min-width: 480px) {
    main.show div.entreprise-banniere img {
        height: auto;
        max-height: 232px;
    }
}

@media screen and (min-width: 550px) {
    /* Section newsletter */
    div.newsletter {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-block: 80px;
    }

    div.newsletter > div {
        width: fit-content;
    }

    div.newsletter div.news-head {
        display: flex;
        text-align: left;
        gap: 20px;
        align-items: center;
    }

    div.newsletter form {
        flex-direction: row;
        width: fit-content;
        margin-left: 100px;
    }

    div.newsletter form input {
        margin-bottom: initial;
        border-radius: 20px 0px 0px 20px;
    }

    div.newsletter form button {
        border-radius: 0px 20px 20px 0px;
    }
}

@media screen and (min-width: 568px) {
    /* Section info job dans détail job */
    div.info-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    div.show-hide.show,
    span.show-btn,
    span.hide-btn {
        display: none;
    }

    div.info-items div.item.resp {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    /* Section bg */
    div.bg {
        max-height: 507px;
    }

    /* Section vous êtes */*
    div.vous-etes {
        flex-direction: row;
    }

    div.vous-etes > div {
        width: 50%;
    }

    /* Section catégories */
    div.categories .cat-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    div.categories .cat-body .item {
        width: 100%;
    }

    div.cat-head {
        width: 100%;
    }

    /* Section résultat recherche emploi */
    div.result-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        height: fit-content;
    }

    /* Section info job dans détail job */
    main.show {
        padding-inline: 10px;
        margin-top: 20px;
    }

    div.detail-head div.logo-new {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

    div.left-side {
        max-width: 768px;
        margin: 10px auto;
    }

    div.info-items {
        grid-template-columns: repeat(3, 1fr);
    }

    div.description-offre {
        padding: 30px 32px;
    }

    div.mobile-footerstyle {
        position: initial;
        box-shadow: none;
        background-color: rgba(0,116,86,0.05);
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        max-width: 768px;
        border-radius: 10px;
        border: 1px solid rgba(0,116,86,0.07);
        margin-block: 20px 30px;
    }

    div.mobile-footerstyle h4{
        display: block;
        font-size: 24px;
        font-weight: 500;
    }

    div.mobile-footerstyle a:first-of-type {
        max-width: 270px;
    }

    aside.info-entreprise {
        max-width: 768px;
        margin: 10px auto;
    }
}

@media screen and (min-width: 800px) {
    body {
        padding-top: inherit;
    }

    div.categories {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    /* Section info job dans détail job */
    main.show {
        max-width: 968px;
        margin-inline: auto;
    }

    main.show > div:first-of-type {
        display: flex;
        gap: 30px;
    }

    div.mobile-footerstyle.desk {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 0px;
        border: 1px solid rgba(0,116,86,0.07);
    }

    div.mobile-footerstyle.desk div {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    div.mobile-footerstyle div a:first-of-type {
        width: 100%;
    }

    div.mobile-footerstyle {
        margin-inline: 0;
        max-width: 528px;
    }

    aside.info-entreprise > div:first-of-type {
        position: sticky;
        top: 30px;
        z-index: 2;
    }

    div.left-side {
        max-width: 528px;
    }

    aside.info-entreprise {
        width: 370px;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        border: none;
    }

    .entreprise-info-head {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #eee;
        padding: 15px;
    }

    /* Vue détail d'un candidat */
    main.show-candidat > div.left-side {
        flex-direction: column;
        gap: 0;
    }

    main.show-candidat {
        display: flex;
        gap: 30px;
    }

    main.show-candidat aside.info-candidat {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {

    /* Section résultat recherche emploi */
    .search-result {
        max-width: 1440px;
        margin: 0 auto;
    }

    div.result-info {
        padding: 40px;
    }

    div.filter {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 0px;
        padding-left: 20px;
    }

    .search-emploi-result {
        display: flex;
        justify-content: center;
    }

    div.result-wrapper {
        display: flex;
        max-width: 1440px;
        flex: 1;
    }

    div.result-container {
        flex: 2;
    }

    /* Panneau filtres */
    div.filter button {
        display: none;
    }

    aside.filter {
        margin-inline:20px 60px;
        display: block;
    }

    div.filter-panel {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #cccccc8b;
        width: 330px;
        margin-bottom: 30px;
    }

    .filter-panel-head h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        border-bottom: 1px solid #cccccc8b;
        height: 40px;
    }

    .filter-panel-body-item h4 {
        font-size: 16px;
        font-weight: 600;
        margin-block: 20px;
        color: #999;
    }

    .checkbox {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .checkbox label {
        color: #555555;
    }

    .radio {
        display: flex;
        flex-direction: column;
    }

    .radio label {
        margin-bottom: 10px;
    }

    .radio span {
        color: #555555;
    }

    /* Liste des catégorie */
    div.categories .cat-body {
        max-width: 1440px;
        margin-inline: auto;
    }

    /* Section info job dans détail job */
    main.show {
        max-width: 1300px;
    }

    div.left-side {
        max-width: calc(100% - 400px);
    }

    div.mobile-footerstyle {
        margin-inline: 0;
        max-width: calc(100% - 400px);
    }

    div.mobile-footerstyle.desk {
        max-width: unset;
    }
}

@media screen and (min-width: 1440px) {
    .content-wrapper{
        max-width: 1440px;
    }

    .newsletter > div {
        display: flex;
        align-items: center;
    }
}