{% extends "dashboard.html.twig" %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section-wrapper">
            <h2>Ajouter une entreprise</h2>
            {{form(form)}}
        </div>
    </div>
{% endblock %}