{% extends 'dashboard.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Gérez les candidatures</h2>
    <div class="table-wrapper">
        <table>
            <colgroup span="4"></colgroup>
            <thead>
                <tr>
                    <th>Candidat</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for candidature in candidatures %}
                <tr>
                    <td>
                        <p>{{ candidature }}</p>
                        <span>Postuler pour : <a style="color: #007456;" href="">{{ candidature.emploi }}</a></span>
                    </td>
                    <td>
                        {% if candidature.status is null %}
                            Vérification
                        {% elseif candidature.status == 1 %}
                            Approuvé
                        {% elseif candidature.status == 0 %}
                            Rejeter
                        {% endif %}
                    </td>
                    
                    <td>{{ candidature.datePostulation|format_datetime('long', 'none', locale='fr') }}</td>
                    <td class="td-action">
                        {# Icon download pour télécharger le CV du candidat #}
                        <a href="{{ path('download_cv', {'userId': candidature.userPostulant.id}) }}"><i class="fa-solid fa-download"></i></a>
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="action">
                            {% if candidature.status is null %}
                                <a href="">Approuvé</a>
                                <a href="">Rejeter</a>
                            {% elseif candidature.status == 1 %}
                                <a href="">Rejeter</a>
                            {% elseif candidature.status == 0 %}
                                <a href="">Approuvé</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
