{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

<main class="error-page">
    <div class="content-wrapper">
        <section>
            <h1 class="error-number">404</h1>
            <h2 class="error-text">Oops! La page que vous recherchez n'existe pas.</h2>
            <p class="instruction">Vous pouvez retourner à la page d'accueil en cliquant sur le bouton ci-dessous.</p>
            <a href="{{ path('app_home') }}" class="error-btn">Retour à l'accueil</a>
        </section>
    </div>
</main>

{% endblock %}
